
/* body.eduzen .notes {
    padding: 0px;
    margin: 25px !important;
    font-size: 16px;
    line-height: 1.2em;
} */

.eduzen #message-timeline,
.eduzen #message-top {
    background-color: #f1f1f1;
    border: 1px solid #0782C1;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: none;
    position: relative;
}

.eduzen.notes.note #message-top {
    position: absolute; left: 240px; top: 37px;
    padding-left: 10px;
    padding-right: 10px;
}

.eduzen.notes #message-top {
    top: 37px;
    margin-right: 60px;
    margin-left: 0px;
}

.eduzen #message-top {
    margin-left: auto;
    margin-right: auto;
}

.eduzen #message-timeline {
    margin-top: 5px;
    width: 444px;
}

.eduzen .btn.hide-message {
    position: absolute;
    right: 0px;
    top: -2px;
    border: 0px solid transparent;
}

.eduzen .hello {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.eduzen .hello small {
    font-size: 12px;
    font-weight: normal;
}

.eduzen .header {
    margin-top: 5px;
    color: #383838;
}

.eduzen.guest .username,
.eduzen.note .username {
    padding: 7px;
    padding-top: 9px;
}

.eduzen.note .username,
.eduzen .timeline.rendered .username,
.eduzen .timeline.unrendered .username {
    position: absolute;
    right: 380px;
    top: 0px;
    padding-left: 7px;
    border: 1px solid #a9a9a9;
    border-top: 0px solid transparent;
    color: #a9a9a9;
    background-color: #fff;
}

/* .eduzen .timeline .username:hover {
    border: 1px solid #0782C1;
    border-top: 0px solid transparent;
} **/

.eduzen #menu .username a.btn.my {
    margin-left: 3px;
    padding: 7px;
    margin-right: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

.eduzen #menu .username a.btn.logout {
    padding: 7px;
    margin-right: 0px;
    padding-left: 4px;
    padding-right: 5px;
}

.eduzen #menu .username a.btn.my.pressed,
.eduzen #menu .username a.btn.my:hover,
.eduzen #menu .username a.logout:hover {
    background-color: #FFC700;
    border: 1px solid #FFC700;
    color: #fff;
}

.eduzen span.meta {
    color: #a9a9a9;
    margin-right: 4px;
}

.eduzen .timeline.unrendered div.tag-list {
    margin-top: 35px;
}

.eduzen div.math-output {
    border: 1px solid #ffffff;
    padding-left: 5px; padding-right: 5px;
    cursor: hand;
}

.eduzen div.math-output.selected {
    border: 1px solid #fff;
    background-color: #12b4d7;
    color: #fff;
}

.eduzen div.tag-list {
    margin-left: 0px;
    margin-top: 6px;
    min-height: 36px;
    margin-bottom: 5px;
    pointer-events: all;
}

.eduzen .timeline.unrendered div.tag-list .label {
    display: block;
}

.eduzen div.results b.label {
    margin-left: 45px;
}

.eduzen.notes.guest .timeline.unrendered a#new,
.eduzen .timeline.rendered a#new {
    display: none;
    padding-right: 10px;
    pointer-events: all;
}

.eduzen .btn.my,
.eduzen .btn.logout {
    padding: 0px;
    padding-left: 5px;
    text-decoration: none;
}

.eduzen .timeline.rendered a#info,
.eduzen .timeline.unrendered a#info {
    display: inline-block;
    padding: 7px;
    border: 1px solid #f1f1f1;
    border-top: 1px solid #fff;
    padding-top: 9px;
    text-decoration: underline;
    position: absolute; right: 300px; top: 0px;
    background-color: #fff;
}

/** .eduzen .timeline.rendered a#info {
    display: none;
} **/

/** .eduzen .timeline.unrendered a#info {
} **/

.eduzen .print-view {
    position: absolute;
    right: 80px; top: 0px;
}

.eduzen .back-to-front {
    position: absolute;
    right: 185px; top: 0px;
}

.eduzen .print-view,
.eduzen .back-to-front {
    display: inline-block;
    padding: 7px;
    border: 1px solid #f1f1f1;
    border-top: 1px solid #fff;
    padding-top: 9px;
    background-color: #fff;
}

.eduzen .timeline.unrendered a#new {
    display: none;
}

.eduzen .timeline {
    background-color: transparent;
    /** padding-left: 40px; padding-right: 40px; **/
    z-index: 100;
    width: 100%;
    min-height: 30px;
    pointer-events: none;
    left: 0px;
}

.eduzen.note .tag,
.eduzen.note .btn.tag {
    text-decoration: none;
}

.eduzen.note .print-button,
.eduzen.note .print-source {
    display: none;
}

.eduzen i.tag {
    text-decoration: none;
    border: 0px solid transparent;
}

/**
.eduzen .timeline .info {
    min-height: 100px;
} **/

.eduzen .tag,
.eduzen .btn.tag {
    /** border: 1px #2272AD solid; **/
    margin-bottom: 5px;
    margin-top: 5px;
    /** position: relative;
    top: -2px; **/
    max-height: 15px;
    border: 1px solid #a9a9a9;
}

.eduzen .btn.tag:hover {
    background-color: #0782C1;
    color: #fff;
    /** border: 1px #383838 solid; **/
}

.eduzen .header a.help {
    cursor: pointer;
    padding: 5px;
    color: #0782C1;
    font-weight: 900;
}

.eduzen .header .help.info {
    display: none;
}

.eduzen .timeline span.tag-filter-info {
    background-color: #fff;
    margin-top: 0px;
    position: relative; top: 0px;
    display: inline-block;
    z-index: 1;
    left: 62px;
}

.eduzen.personal .timeline.rendered span.tag-filter-info,
.eduzen.personal .timeline.unrendered span.tag-filter-info{
    margin-top: 10px;
    left: 76px;
}

.eduzen.guest .timeline.unrendered span.tag-filter-info {
    margin-top: 0px;
    left: 118px;
}

.eduzen.guest .timeline.rendered span.tag-filter-info {
    margin-top: 33px;
    left: 62px;
}

/** here no filter can be present in options bar */
.eduzen.guest.personal .timeline.unrendered span.tag-filter-info,
.eduzen.guest.personal .timeline.rendered span.tag-filter-info {
    margin-top: 10px;
    left: 138px;
}

.eduzen div.tag-filter-info .buttons {
    margin-left: 5px;
}

.eduzen .buttons a.btn.tag.selected {
    cursor: default;
}

.eduzen a.btn.tag.selected,
#nav a.btn.sort.selected {
    background-color: #0782C1;
    color: #fff;
    /** border: 2px solid #a9a9a9; **/
    border: 1px solid #a9a9a9;
    margin-right: -1px;
    padding-left: 8px;
}

.eduzen a.btn.tag.selected .close {
    /** #0067c7 #2272AD; **/
    /** padding: 4px; **/
    border: 1px solid transparent;
    background-color: transparent;
    color: transparent;
    font-weight: bold;
    position: relative; left: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 11px;
    /** border-radius: 8px; */
    cursor: pointer;
}

.eduzen a.btn.tag.selected:hover .close,
.eduzen a.btn.tag.selected .close:hover {
    /** background-color: transparent; */
    background-color: #fff;
    color: #0782C1;
}

/** 1px design fix */
@-moz-document url-prefix() {  }

.eduzen .options {
    color: #a9a9a9;
    background-color: #fff;
    border-bottom: 1px solid #FFC700;
    pointer-events: all;
    min-height: 38px;
}

.eduzen .rendered .options {
    background-color: #fff;
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
}

.eduzen .unrendered .options {
    /** border-right: 1px solid #FFC700; */
    position: relative;
}

.eduzen .unrendered #nav.info {
    padding-right: 40px;
    width: 26%;
    float: right;
    background-color: #fff;
}

.eduzen .rendered #nav.info {
    /** border-bottom: 1px solid #FFC700; **/
    position: relative;
    top: 55px;
    left: 40px;
    margin-right: 40px;
}

.eduzen #resources {
    position: relative;
    top: 60px;
}

.eduzen .results .list {
    padding-left: 40px;
    margin-bottom: 60px;
    width: 100%;
}

/** .eduzen #menu {
    background-color: #fff;
    position: absolute; right: 320px; top: 0px;
} **/

textarea#math-input-dialog {
    width: 100%;
    height: 130px;
    border: 1px solid #a9a9a9;
}

.eduzen .footer {
    border-top: 1px solid #f5f5f5;
    background-color: #fff;
    /** position: fixed; bottom: 0px; **/
    padding-left: 40px;
    padding-right: 80px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    opacity: .9;
    width: 85%;
}

.eduzen .footer h3 {
    margin-top: 5px;
    margin-bottom: 2px;
}

.eduzen .footer a {
    border: none !important;
    margin: 0px;
    padding: 0px !important;
}

.eduzen .content-area {
    /** border: 1px solid #f5f5f5;
    padding: 5px 20px;  **/
    color: #383838;
}

.eduzen .content-area li {
    list-style-type: circle;
}

.eduzen.info .content-area {
    font-size: 1.2em;
    line-height: 1.2em;
}

.eduzen.info .content-area li a {
    text-decoration: underline;
    color: #0782C1;
    border: 0px solid transparent;
    padding: 0px;
}

.eduzen.info quote.big{
    font-size: 1.4em;
    line-height: 1.2em;
}

.eduzen.note .content-area,
.eduzen.info .content-area {
    margin-left: 40px;
}

.eduzen.note .content-area {
    margin-top: 60px;
}

.eduzen .cke_dialog_page_contents a {
    text-decoration: underline !important;
}

.eduzen.note .header {
    margin-bottom: 100px;
}

/** .eduzen .tag {
    vertical-align: baseline;
}

.eduzen .tag img {
    padding: 3px;
} **/

.eduzen img:hover {
    filter: none;
    opacity: 1;
}

.eduzen #input .toolbar {
    border-top: 1px solid #f5f5f5;
    width: 100%;
    margin-top: 5px;
}

.eduzen li#input {
    border: 1px solid #f5f5f5;
}

.eduzen input.tag {
    width: 75%;
    display: block;
}

.eduzen .toolbar .submit {
    border-top: 0px solid transparent;
    border: 1px solid #f5f5f5;
    color: #0782C1;
    float: right;
    position: relative;
    top: -1px;
    margin-right: 0px;
}

.eduzen .toolbar .submit:hover {
    background-color: #FFC700;
    color: #fff;
    border: 1px solid transparent;
}

.eduzen #cke_resource-input { /** This is somewhat surrounding the ck-editor toolbar **/ }

.eduzen #resource_input {
    background-color: #f1f1f1;
    padding: 10px;
    min-height: 45px;
    min-width: 360px;
    border: 1px solid #ffc700;
}

.eduzen.note #resource_input {
    margin-right: 60px;
}

.eduzen i.label {
    font-weight: bold;
    color: #383838;
    font-style: normal;
}

.eduzen i.tag {
    padding-left: 4px;
}

/** input areas */

.eduzen.notes input.submit {
    position: relative;
    top: -40px; float: right;
    margin-right: 60px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.eduzen.note input.submit {
    top: -1px;
}

.eduzen input.submit:hover {
    border: 1px solid #0782C1;
    border-top: 1px solid transparent;
}

.eduzen.personal #profile .user-settings input.save-edits {
    margin-top: 15px;
    cursor: pointer;
}

.eduzen #picture-upload {
    color: #999;
}

.eduzen input.new-tag {
    width: 92px;
    height: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
}


.eduzen.personal #profile {
    display: block;
    margin-top: 20px;
    padding-left: 55px;
    margin-right: 95px;
    margin-bottom: 0px;
    padding: 10px;
    max-width: 88%;
    position: relative;
}

.eduzen.personal #profile .profile {
    padding-left: 45px;
}

.eduzen.personal #profile .profile .edit-area {
    position: absolute;
    top: 19px; right: 16px;
    z-index: 14;
}

.eduzen.personal #profile .user-settings {
    display: block;
    padding: 10px;
    margin-left: 45px;
    min-height: 300px;
    position: relative;
}

.eduzen.personal #profile .user-settings label.picture-label {
    position: absolute;
    top: 15px; right: 10px;
}

.eduzen.personal #profile .profile img.profile-picture {
    position: absolute;
    top: 20px; right: 20px;
    z-index: 0;
    max-width: 180px;
    max-height: 180px;
}

.eduzen.personal #profile .user-settings .picture-label {
    position: absolute;
    top: 15px; right: 10px;
    margin-bottom: 5px;
}

.eduzen.personal #profile .user-settings .picture-area {
    position: absolute;
    top: 10px; right: 10px;
    z-index: 99;
    min-width: 180px;
    max-width: 200px;
    color: #999;
}

.eduzen.personal #profile .user-settings img.profile-picture.editable {
    max-width: 180px;
    max-height: 180px;
}

.eduzen.personal #profile .user-settings div.picture-area:hover img.remove {
    display: inline-block;
}

.eduzen.personal #profile .user-settings img.remove {
    display: none;
}

.eduzen.personal #profile .user-settings img.remove,
.eduzen.personal #profile .user-settings img.add {
    cursor: pointer;
    max-width: 32px;
    max-height: 32px;
    position: absolute;
    top: 25px; left: 5px;
    z-index: 101;
}

.eduzen.personal .ui-dialog.ui-widget {
    top: 30%;
    left: 10%;
    width: 80%;
    height: 100px;
}

.eduzen.personal .ui-dialog.ui-widget {

}

.eduzen.personal #profile .user-settings label {
    color: #999999;
}

.eduzen.personal #profile .user-settings textarea,
.eduzen.personal #profile .user-settings input {
    border: 1px solid #2486bb !important;
    padding: 5px;
}

.eduzen.personal #profile .user-settings textarea {
    max-width: 80%;
    height: 90px;
}

.eduzen.personal #profile .user-settings label,
.eduzen.personal #profile .user-settings input {
    display: block;
    margin-top: 5px;
}

.eduzen.personal #profile .display-name .btn.edit-profile {
    color: #999999;
    font-size: .8em;
    font-weight: normal;
    margin-top: 1px;
    z-index: 11;
}

.eduzen.personal #profile .display-name .btn.edit-profile:hover {
    color: #fff;
    background-color: #FFC700;
}

.eduzen.personal.guest #profile {
    display: block;
    margin-top: 40px;
    padding-left: 55px;
    margin-right: 95px;
    margin-bottom: 0px;
    padding: 10px;
    max-width: 88%;
}

.eduzen.personal #profile .view .contact-entries .label {
    color: #999999;
}

.eduzen.personal #profile .view .subject-of-study,
.eduzen.personal #profile .view .contact-entries .entry {
    color: #0782C1;
}

.eduzen.personal #profile .view .infos {
    margin-top: 5px;
}

.eduzen.personal #profile .view .display-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.eduzen.personal #profile .view {
    padding: 10px;
    background-color: #f1f1f1;
    color: #2486bb;
    min-height: 200px;
}

.eduzen.personal #resources {
    top: 0px;
}

.eduzen #profile {
    display: none;
}

.eduzen.personal .timeline .home-menu-button {
    position: absolute;
    top: 0px; left: -2px;
    padding: 7px;
    padding-top: 9px;
    color: #a9a9a9;
    border: 1px solid #f1f1f1;
    border-top: 1px solid transparent;
    text-decoration: none;
    background-color: #fff;
}

.eduzen.personal .timeline .login-menu-button {
    left: 76px;
}

.eduzen .timeline .login-menu-button {
    position: absolute;
    top: 0px; left: 60px;
    padding: 7px;
    padding-top: 9px;
    color: #a9a9a9;
    border: 1px solid #f1f1f1;
    border-top: 1px solid transparent;
    text-decoration: none;
    background-color: #fff;
}

.eduzen.personal .timeline .home-menu-button:hover,
.eduzen.personal .timeline .home-menu-button:focus,
.eduzen .timeline .login-menu-button:hover,
.eduzen .timeline .login-menu-button:focus {
    border: 1px solid #0782C1;
    border-top: 1px solid transparent;
}

.eduzen .timeline .login-menu-button.pressed:hover,
.eduzen .timeline .login-menu-button.pressed:focus,
.eduzen .timeline .login-menu-button.pressed {
    background-color: #ffc700;
    border: 1px solid #f1f1f1;
    border-top: 1px solid transparent;
    color: #fff;
}


.eduzen.guest.personal .timeline.rendered div.about-login {
    display: none;
}

.eduzen.guest .timeline.rendered div.about-login {
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 120px;
}

.eduzen .timeline.rendered div.about-login,
.eduzen .timeline.unrendered div.about-login {
    display: none;
}

.eduzen .login-menu .message a,
.eduzen div.about-login a {
    background-color: transparent;
    padding: 0px;
}

.eduzen .login-menu .message {
    color: #a9a9a9;
    margin-left: 5px;
}

.eduzen .login-menu .message.failed {
    color: #ff0000;
    font-weight: 900;
}

.eduzen .login-menu {
    display: none;
    position: absolute;
    top: 1px;
    left: 115px;
    background: #fff;
    z-index: 99;
}

.eduzen .timeline.unrendered .login-menu {
    left: 115px;
}

.eduzen.personal .timeline.rendered .login-menu,
.eduzen.personal .timeline.unrendered .login-menu {
    left: 130px;
}

.eduzen .login-menu input {
    margin-left: 4px;
}

.eduzen #resource_input input.secret,
.eduzen #resource_input input.username-input {
    background-color: #fff;
    margin-top: 10px;
    margin-left: 20px;
}

.eduzen #resource_input ul li {
    border: 0px solid transparent;
    list-style-type: disc;
    margin: 0px;
}

.eduzen input.btn.login {
    padding: 4px;
}

.eduzen input.secret,
.eduzen input.username-input,
.eduzen input.new-tag,
.eduzen input.tag {
    padding-left: 7px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #ffc700 !important;
    background-color: #f1f1f1;
}

.eduzen .button:focus,
.eduzen input.button:focus,
.eduzen input:focus {
    /** color: #fff; **/
    border: 1px solid #2486bb !important;
}

.eduzen a:focus,
.eduzen input.new-tag:focus,
.eduzen input.tag:focus,
.eduzen #resource_input:focus {
    /** color: #fff; **/
    border: 1px solid #2486bb;
}

input.cke_dialog_ui_input_text:focus {
    color: #383838;
}

.eduzen .add-tag-dialog {
    display: inline-block;
    width: 240px;
}

.eduzen .save-tag.btn {
    border: 1px solid transparent;
    position: relative;
    left: 102px;
}

.eduzen .close-tag.btn {
    border: 1px solid transparent;
    position: relative;
    left: 98px;
}

.eduzen .close-tag.btn:hover,
.eduzen .save-tag.btn:hover {
    border: 1px solid #0782C1;
}


/** Some original style defs **/

/** strong-blue: #0067c7; turquoise: #12b4d7; blue-grey-tone: #7397bc;
    some-blue: #2486bb; blue: #2272AD; some-yellow: #ffc700; lime: #99cc00; */

.eduzen {
    font-family: Helvetica Neue, Arial, sans-serif;
}

/** .eduzen p {
  margin: 0.5em;
} **/

.eduzen p.empty {
    height: 70px;
}

/** .eduzen label {
    display: block;
} **/

.eduzen button {
    padding: 6px; height: 30px
}

.eduzen .title {
    font-weight: bold;
    line-height: 1.6em;
    font-weight: bold;
}

.eduzen .label.small {
    font-size: 12px;
}

.eduzen .label {
    font-weight: bold;
    line-height: 1.6em;
    color: #a9a9a9;
    padding: 4px;
    padding-bottom: 8px;
    padding-left: 0px;
    margin-bottom: 4px;
}

.eduzen #result-header {
    font-size: 12px;
    color: #a9a9a9;
    padding-top: 8px;
}

.eduzen #results {
    float: left;
    /* overflow-y: auto;
    max-height: 70%;
    padding-right: 20px; **/
    height: 100%;
    z-index: 1;
    margin-bottom: 65px;
}

.eduzen #result-list,
.eduzen ul.list {
    float: left;
}

.eduzen ul.list .item-content {
    color: #383838;
    padding: 5px;
    z-index: 1;
    border: 1px solid #f5f5f5;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 10px;
}

.eduzen object {
    padding: 20px;
}

.eduzen ul.list .item-content ol li,
.eduzen ul.list .item-content ul li {
    border: 0px solid transparent;
    padding: 5px;
    margin: 5px;
}

.eduzen .item-content a {
    color: #0782C1;
    text-decoration: underline;
}

.eduzen i.tag,
.eduzen .score-info {
    color: #0782C1;
}

.eduzen ul.objects,
.eduzen ul.list {
    color: #343434;
    padding-left: 0px;
    list-style-type: none;
    position: relative;
    max-width: 75%;
}

.eduzen ul.objects li,
.eduzen ul.list li {
    border: 1px solid #ffc700;
    padding: 4px; margin-top: 4px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    max-width: 75%;
}

.eduzen.personal ul.list {
    max-width: 90%;
}

.eduzen.personal ul.list li {
    max-width: 100%;
}

.eduzen ul.list li div.item-content li {
    overflow: visible;
}

.eduzen li a:focus,
.eduzen ul.list li a:focus {
    border: 1px solid #12b4d7;
}

.eduzen .timeline a,
.eduzen .results a,
.eduzen .footer a,
.eduzen li a,
.eduzen ul.list li a {
    border: 1px solid #fff;
    padding: 5px;
}

.eduzen.note li a,
.eduzen.note ul.list li a {
    border: 1px solid transparent;
    text-decoration: underline;
    color: #0782C1;
    padding: 0px;
}

.eduzen ul.list li div.item-content a {
    border: 0px solid transparent;
}

.eduzen ul.objects li.selected,
.eduzen ul.list li.selected {
    border: 1px solid #2486bb;
}

/** Typography, Lists, Buttons and Emphasizers **/

.eduzen .btn {
    display: inline-block;
    cursor:pointer;
    padding: 6px;
    margin-right: 4px;
}

/***.eduzen .toolbar {
    position: relative;
    color: #a9a9a9;
    padding-left: 5px;
    top: -7px; left: 10px;
} */

.eduzen .tags {
    padding-right: 10px;
    margin-right: 10px;
}

.eduzen div.votes {
    display: inline-block;
}

.eduzen div.toolbar {
    display: inline-block;
}

.eduzen .save-tag,
.eduzen .close-tag,
.eduzen .edit-item,
.eduzen .add-tag,
.eduzen .tag-info {
    color: #0782C1;
}

.eduzen .btn.vote {
    padding-left: 10px;
    padding-right: 10px;
    color: #0782C1;
    font-weight: bold;
    border: 1px solid #f5f5f5;
    border-bottom: 1px solid #fff;
}

/** .eduzen .btn.edit-item:hover  */
.eduzen .toolbar .btn.edit-item {
    text-decoration: underline;
}

.eduzen span.creation-date {
    color: #a9a9a9;
    float: right;
    margin-top: 5px;
}

.eduzen .note .creator a {
    text-decoration: none;
}

.eduzen.note .label {
    padding-right: 0px;
}

.eduzen.note input.lock,
.eduzen.note label.lock {
    display: none;
    color: #a9a9a9;
    float: right;
}

.eduzen.note label.lock {
    margin-right: 60px;
    padding-top: 2px;
}

.eduzen .note .contributor a {
    text-decoration: none;
}

.eduzen .btn.profile {
    margin-left: 0px;
    color: #0782C1;
    border: 1px solid #f5f5f5;
    border-top: 1px solid #fff;
}

.eduzen .toolbar .btn.add-tag {
    margin-left: 4px;
    border: 1px solid #f5f5f5;
    border-bottom: 1px solid #fff;
}

.eduzen .btn.profile:hover,
.eduzen .btn.add-tag.selected,
.eduzen .btn.add-tag:hover,
.eduzen .btn.vote:hover {
    background-color: #FFC700;
    color: #fff;
    border: 1px solid transparent;
}

.eduzen .result-item {
    /** cursor: pointer; **/
    margin-top: 40px;
}

.eduzen ol {
    padding-left: 0px;
    margin-left: 25px;
    margin-top: 20px;
    margin-right: 25px;
}

.eduzen li {
    margin-bottom: 10px;
}

.eduzen li a {
    text-decoration: none;
    color: #000000;
    padding-right: 10px;
}

.eduzen li .more-info {
    font-size: 12px;
    color: #a9a9a9;
    /** padding-left: 4px; **/
    margin: 4px;
    display: block;
    margin-bottom: 10px;
}

.sort {
    display: inline-block;
    position: absolute;
    right: 80px;
    top: 6px;
}

.sort-label {
    display: inline-block;
    position: absolute;
    right: 140px;
    padding-top: 4px;
    top: 6px;
}

/** Thx to the author/s of http://proto.io/freebies/onoff/ for the following lines. */

.sort .onoffswitch {
    position: relative; width: 52px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.sort .onoffswitch-checkbox {
    display: none;
}
.sort .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 4px;
}
.sort .onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.sort .onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    color: white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.sort .onoffswitch-inner:before {
    content: "An";
    padding-left: 5px;
    background-color: #0782C1; color: #FFFFFF;
}
.sort .onoffswitch-inner:after {
    content: "Aus";
    padding-right: 5px;
    background-color: #FFFFFF; color: #999999;
    text-align: right;
}
.sort .onoffswitch-switch {
    width: 10px; margin: 5px;
    background: #FFFFFF;
    border: 1px solid #999999; border-radius: 4px;
    position: absolute; top: 0; bottom: 0; right: 28px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.sort .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.sort .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
