<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title th:text="${name}">Notizen Timeline - eduZEN - v0.2.3</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
        <meta property="og:title" th:content="${name}" />
        <meta property="og:url" th:content="'http://notizen.eduzen.tu-berlin.de' + ${path}" />
        <meta property="og:description" content="Meine &ouml;ffentlichen Notizen" th:content="${description}"/>
        <meta property="og:type" content="website" />
        <meta property="og:image" th:content="${picture}"/>

        <link rel="stylesheet" th:href="'/org.deepamehta.eduzen-tagging-notes/style/' + ${style}"/>
        <link rel="stylesheet" href="/org.deepamehta.eduzen-tagging-notes/script/vendor/ckeditor/contents.css"/>
        <!-- link rel="stylesheet" href="/de.deepamehta.webclient/script/vendor/jquery/css/custom-theme/jquery-ui-1.10.3.custom.min.css"/-->
        <link rel="stylesheet" href="/org.deepamehta.eduzen-tagging-notes/script/vendor/jquery-ui-1.8.21.custom.css"/>

        <script type="text/javascript" src="/de.tu-berlin.eduzen.mathjax-renderer/script/vendor/mathjax/MathJax.js?config=default&delayStartupUntil;=configured"></script>
        <!-- script type="text/javascript" src="/de.deepamehta.webclient/script/vendor/jquery/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/vendor/jquery/jquery-ui-1.10.3.custom.min.js"></script-->
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/vendor/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/vendor/jquery-ui-1.8.21.custom.min.js"></script>

        <!-- Note: We are proudly build on free and open source tools, namely: jQuery, Piwik and DeepaMehta 4. -->

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stable.eduzen.tu-berlin.de/piwik/";
                _paq.push(['setSiteId', 1]);
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Piwik Tracking Code -->

        <script type="text/javascript">
            var dm4c = { fire_event : function(){} }
            $(document).ready(function() {
            /** Initialize the our interactive page **/
                page_route()
            })
        </script>

    </head>

    <body class="eduzen notes">

        <div class="headline">

            <div id="menu">
                <!-- a class="btn sort" id="most-popular">Sortierung nach Bewertung</a-->
                <!-- a class="btn" id="new">Neuen Inhalt hinzuf&uuml;gen</a-->
                <div class="about-login"></div>
                <div class="pages">
                    <a href="/notes/info" id="info" title="Nutzungshinweise und Impressum">Tipps</a>
                </div>
                <span class="username"></span>
                <div class="subscription-view"></div>
            </div>

            <a href="http://www.eduzen.tu-berlin.de" target="_blank">
                <img src="/org.deepamehta.eduzen-tagging-notes/images/eduzen-logo-35px-height.png"
                 class="eduzen-logo" title="Notizen ist eine Entwicklung des Studienreformprojekts eduZEN"
                 alt="EducationZEN Logo" height="35" width="184" />
            </a>

        </div>

        <div id="message-top"></div>

        <div id="progressbar"><div class="loading-label">Notizen werden geladen ... </div></div>

        <a href="#" class="print-view">Druckansicht</a>

        <!--placeholder div to prevent jumpy content when nav gets pinned -->
        <div style="padding:2em;" data-0="display:none;" data-top-top="display:block;"
             data-anchor-target="#nav">&nbsp;</div>

        <div class="sidebar">

            <div class="sort-label">Sortiere Beitr&auml;ge nach Bewertung</div>

            <div class="sort">
                <div class="onoffswitch" id="most-popular-toggle">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"></input>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </label>
                </div>
            </div>

            <div class="options">
                <span class="result-text"></span>
                <span class="tag-filter-info"></span>
            </div>

            <div class="info" id="nav">
                <div class="tag-cloud-header"></div>
            </div>

            <div id="message-timeline"></div>

        </div>

        <div id="profile"></div>

        <div id="resources" class="results">
            <div id="list-message"></div>
            <ul class="list"></ul>
        </div>

        <div class="content-area">
            <!-- i class="label">Educational resource</i-->
            <b class="label">Erstellt von</b>
            <span class="creator"></span>
            <b class="label">am</b>
            <b class="header-title"></b>
            <br/>
            <b class="label contributor"></b>
            <span class="contributor"></span>
            <br/>
            <label for="is-locked" class="lock">F&uuml;r &Auml;nderungen sperren</label>
            <input name="is-locked" class="lock" type="checkbox" th:checked="${isLocked}"></input>
            <b class="label">Inhalt:</b>
            <div id="resource_input" contenteditable="false"></div> <!--  -->
            <input type="button" value="Inhalt &auml;ndern" class="submit btn"></input>
            <br/>
            <br/>
            <b class="label">Tags:</b>
            <div id="tags"></div>
        </div>

        <noscript><p>
            Sorry, this is a single-page AJAX application relying on JavaScript. <br/>
            If you want to use our web-app, you have to activate JavaScript in your browser.
            <br/><br/>
            Kind Regards,<br/>
            Your eduZEN Team (team{at}eduzen.tu-berlin.de)
        </p></noscript>

        <script type="text/javascript" src="/de.deepamehta.accesscontrol/script/vendor/sha256.js"></script> <!-- ### load dynamically -->
        <script type="text/javascript" src="/de.deepamehta.webclient/script/util/rest_client.js"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/util/gui_toolkit.js"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/util/js_utils.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/vendor/jquery-ui-widget.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/vendor/jquery-ui-progressbar.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/vendor/eduzen_dictionary.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/vendor/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/model/AppModel.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/profile.min.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/emc.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/timeline.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/timeline_item.js"></script>

    </body>

</html>