<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Notes Timeline - (2.0-RC1-SNAPSHOT)</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>

        <link rel="stylesheet" href="/org.deepamehta.eduzen-tagging-notes/style/style.css"/>
        <link rel="stylesheet" href="/org.deepamehta.eduzen-tagging-notes/script/vendor/ckeditor/contents.css"/>
        <link rel="stylesheet" href="/de.deepamehta.webclient/script/vendor/jquery/css/custom-theme/jquery-ui-1.8.21.custom.css"/>

        <script type="text/javascript" src="/de.tu-berlin.eduzen.mathjax-renderer/script/vendor/mathjax/MathJax.js?config=default&delayStartupUntil;=configured"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/vendor/jquery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/vendor/jquery/jquery-ui-1.8.21.custom.min.js"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/util/rest_client.js"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/util/gui_toolkit.js"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/util/js_utils.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/vendor/skrollr/skrollr.min.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/vendor/eduzen_dictionary.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/vendor/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/model/AppModel.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/emc.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/trt.js"></script>
        <!-- script type="text/javascript" src="/de.deepamehta.accesscontrol/script/vendor/sha256.js"></script-->
        <!--<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>-->
        <!-- script type="text/javascript" src="http://modernizr.com/downloads/modernizr-latest.js"></script-->

        <!-- Note: We are proudly build on free and open source tools, namely jQuery, skrollr, Piwik and DeepaMehta 4. -->

        <!-- Piwik
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://research.eduzen.tu-berlin.de/analytics/" : "http://research.eduzen.tu-berlin.de/analytics/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        End Piwik Tracking Code -->

        <script type="text/javascript">
            $(document).ready(function() {
            /** Initialize the our interactive page **/
                initializePageView()
            })
        </script>

    </head>

    <body class="eduzen notes">

        <div class="header">
            <div id="message-top"></div>
            <h3 class="hello">
                <!-- Share your educational resource*-->
            </h3>
            <div class="content-area">
                <p><!-- i class="label">Educational resource</i-->
                    <b class="header-title">Beitrag verfassen<a class="help">*</a></b>
                </p>
                <div class="help info">
                    Du kannst mithilfe unseres Editors Beitr&auml;ge in Form von HTML verfassen. Unser Editor erm&ouml;glicht dir momentan <b>Mathe-Formeln</b>, <b>Bilder</b>, <b>Web-Videos</b> und <b>Web-Sound</b> in HTML einzubetten.<br/>
                    Hier eine kleine Illustration die euch diese 4 Funktionen im Editor-Bereich zeigt.<br/>
                    <img src="/org.deepamehta.eduzen-tagging-notes/images/cK_Editor_help_01.png" /><br/>
                    Aktuell ist es erstmals experimentell m&ouml;glich <b>&uuml;ber den Bild-Dialog auch PDF-Dokumente hochzuladen und einzubetten</b>.<br/>
                    Wir wollen diesen Editor-Bereich st&auml;ndig weiter verbessern, ein robusteres PDF-Feature wollen wir dabei mit als n&auml;chstes angehen.<br/>
                    <br/><br/>
                </div>
                <div id="resource_input" contenteditable="true"></div> <!--  -->
                <p>
                    <b class="header-title">Tags hinzuf&uuml;gen</b>
                </p>
                <input type="text" placeholder="..." size="70" class="tag"></input>
                <input type="button" value="Hinzuf&uuml;gen" class="submit btn"></input>
            </div>
        </div>

        <div class="timeline" data-0="position:static;" data-top-top="position:fixed;top:0;">

            <div id="message-timeline"></div>

            <div class="options">
                <span class="result-text"></span>
                <span class="tag-filter-info"></span>

                <div id="menu">
                    <div class="sort">
                        <div class="onoffswitch" id="most-popular-toggle">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"></input>
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>
                        </div>
                    </div>
                    <div class="sort-label">Sortierung nach Bewertung</div>
                    <!-- a class="btn sort" id="most-popular">Sortierung nach Bewertung</a-->
                    <a class="btn" id="new">Neuen Inhalt hinzuf&uuml;gen</a>
                    <a class="btn" href="/notes/info" id="info">Tipps</a>
                    <span class="username"></span>
                </div>
            </div>

            <div class="info" id="nav">
                <b class="header-title"></b>
            </div>

        </div>

        <!--placeholder div to prevent jumpy content when nav gets pinned -->
        <div style="padding:2em;" data-0="display:none;" data-top-top="display:block;"
             data-anchor-target="#nav">&nbsp;</div>

        <div id="resources" class="results"></div>


        <noscript><p>
            Sorry, this is a single-page AJAX application relying on JavaScript. <br/>
            If you want to use our web-app, you have to activate JavaScript in your browser.
            <br/><br/>
            Kind Regards,<br/>
            Your eduZEN Team (team{at}eduzen.tu-berlin.de)
            <img src="http://research.eduzen.tu-berlin.de/analytics/piwik.php?idsite=2" style="border:0" alt="" />
        </p></noscript>


    </body>

</html>