<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Infos zum eduZEN Notizen Prototyp (2.0-SNAPSHOT) </title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>

        <link rel="stylesheet" href="/org.deepamehta.eduzen-tagging-notes/style/style.css"/>
        <link rel="stylesheet" href="/org.deepamehta.eduzen-tagging-notes/script/vendor/ckeditor/contents.css"/>
        <link rel="stylesheet" href="/de.deepamehta.webclient/script/vendor/jquery/css/custom-theme/jquery-ui-1.8.21.custom.css"/>

        <!-- Note: We are proudly build on free and open source tools, namely jQuery, Piwik and DeepaMehta 4. -->

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://research.eduzen.tu-berlin.de/analytics/" : "http://research.eduzen.tu-berlin.de/analytics/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

    </head>

    <body class="eduzen info">
        <div class="header">

            <h1>
                Nutzungshinweise und Tipps
            </h1>

            <a href="/notes" class="back-to-front">zur&uuml;ck zur Timeline</a>

            <!--quote class="big">"Research Web Notizen" - <i>Creating</i>, <i>tagging</i> and <i>voting</i> <b>notes</b> in time"</quote-->

            <div class="content-area">

                <h2>Die Idee</h2>
                    <p>Wir wollen es Studierenden erm&ouml;glichen Ihre <b>Notizen miteinander im Netz zu&nbsp;teilen</b> und diese <b>strukturiert ablegen</b>zu k&ouml;nnen.&nbsp; Alle Beitr&auml;ge in der Sammlung k&ouml;nnen <b>kollaborativ getagged</b>, sowie <b>auf- und abgewertet</b> werden.</p>
                    <p>Beim Aufruf der Anwendung werden alle Beitr&auml;ge in einer <b>Zeitleiste</b> angezeigt. Diese kannst Du dann einfach entlang aller verf&uuml;gbarer Tags <em>filtern</em>. Au&szlig;erdem kannst Du die Timeline<em>&nbsp;</em>jederzeit auch&nbsp;nach <em>Bewertung</em> sortieren.</p>

                <p><br/></p>
                <h2>Nutzungshinweise</h2>
                    <ol>
                        <li>Falls Du einen <b>pers&ouml;nlichen Account</b> m&ouml;chtest bieten schick uns bitte eine Mail an team@eduzen.tu-berlin.de</li>
                        <li>Alle Teilnehmenden k&ouml;nnen Inhalte erstellen und jeden, insbesondere auch Deinen Inhalt bearbeiten, <b>das hei&szlig;t wir alle sind mitverantwortlich f&uuml;r die Verf&auml;gbarkeit und Qualit&auml;t der Beitr&auml;ge</b>.</li>
                        <li>wir bitten euch beim einstellen von Beitr&auml;gen das Urheberrecht anderer unbedingt zu respektieren, <b>das hei&szlig;t insbesondere die Quelle zu nennen</b>, andernfalls sehen wir uns gezwungen auch gute Beitr&amul;ge wieder zu entfernen</li>
                    </ol>

                <p><br/></p>
                <h2>HTML-Beitr&auml;ge verfassen</h2>
                <p>
                    Du kannst mithilfe unseres Editors Beitr&auml;ge in Form von HTML verfassen. Unser Editor erm&ouml;glicht dir momentan <b>Mathe-Formeln</b>, <b>Bilder</b>, <b>Web-Videos</b> und <b>Web-Sound</b> in dein HTML einzubetten.<br/>
                    Hier eine kleine Illustration die euch diese 4 Funktionen im Editor-Bereich zeigt.<br/>
                    <img src="/org.deepamehta.eduzen-tagging-notes/images/cK_Editor_help_01.png" /><br/>
                    Aktuell ist es erstmals <b>experimentell</b> m&ouml;glich &uuml;ber den Bild-Dialog auch <b>PDF-Dokumente hochzuladen und einzubetten</b>.<br/>
                    Wir wollen diesen Editor-Bereich st&auml;ndig weiter verbessern, insbesondere das PDF-Feature wollen wir f&uuml;r euch als n&auml;chstes nochmal richtig angehen.<br/>
                    <br/>
                </p>

                <p><br/></p>
                <h2>Tagging</h2>
                    <p>Tagging hilft allen Teilnehmenden Beitr&auml;ge zu <b>gruppieren und in einer Zeitleiste wiederzufinden</b>.</p>
                    <p>Eine gute Vorgehensweise beim taggen von Beitr&auml;gen ist, Begriffe zu benutzen die euch als erstes in den Sinn kommen.</p>
                    <p>Praktisch ist, vor allem beim gemeinschaftlichen taggen, sich irgendwann auf bestimmte Tags mit anderen zu einigen.</p>

                <p><br/></p>
                <h2>Netiquette</h2>
                    <p>Wie in anderen gemeinschaftlichen Projekten <b>gelten auch hier die Regeln des freundlichen Miteinanders und des Respekts gegenüber Beitr&auml;gen von anderen</b>. Man nennt dies <a href="http://de.wikipedia.org/wiki/Wikipedia:Wikiquette">Netiquette</a>.</p>

                <p><br/></p>
                <h2>Macht mit bei der Weiterentwicklung</h2>
                    <p>Nicht nur eure Beitr/&auml;e machen die Anwendung gut, sondern auch eure aktive Teilhabe am Entwicklungsprozess. Am unkompliziertesten geht das indem Du einfach direkt Beitrage in der Webanwendung unter den Tags "feedback" , "bug" und "wish" postest.</p>
                    <p>F&uuml;r spezifisches Feedback zur Webanwendung kannst du auch immer unser aktuelles <a href="http://research.eduzen.tu-berlin.de/survey/index.php/414826?lang=de-informal">Umfrageformular</a> nutzen.</p>
                    <p>Wir machen auch regelm&auml;&szlig;ig Treffen f&uuml;r Entwickler_innen um unsere Tools voranzubringen. Schaut einfach mal auf unsere <a href="http://www.eduzen.tu-berlin.de/node/23">Termine-Page</a> falls Ihr interessiert seid und Lust habt uns zu unterst&uuml;tzen.</p>

                <p><br/></p>
                <h2>Impressum</h2>
                <a href="http://www.eduzen.tu-berlin.de/impressum">http://www.eduzen.tu-berlin.de/impressum</a>
            </div>

        </div>

        <noscript><p>
            <img src="http://research.eduzen.tu-berlin.de/analytics/piwik.php?idsite=2" style="border:0" alt="" />
        </p></noscript>


    </body>

</html>