<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Infos zum eduZEN Notizen Prototyp (2.0-SNAPSHOT) </title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>

        <link rel="stylesheet" href="/org.deepamehta.eduzen-tagging-notes/style/style.css"/>
        <link rel="stylesheet" href="/org.deepamehta.eduzen-tagging-notes/script/vendor/ckeditor/contents.css"/>
        <link rel="stylesheet" href="/de.deepamehta.webclient/script/vendor/jquery/css/custom-theme/jquery-ui-1.8.21.custom.css"/>

        <!-- Note: We are proudly build on free and open source tools, namely jQuery, Piwik and DeepaMehta 4. -->

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://research.eduzen.tu-berlin.de/analytics/" : "http://research.eduzen.tu-berlin.de/analytics/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

    </head>

    <body class="eduzen notes note">
        <div class="header">

            <h1>
                Tipps und Impressum
            </h1>

            <a href="/notes" class="back-to-front">zur&uuml;ck zur Timeline</a>

            <p>&nbsp;</p>

            <div class="content-area">

                <h2>Die Idee</h2>
                    <p>Wir wollen es Studierenden ermöglichen Ihre Notizen miteinander im Netz zu&nbsp;teilen und strukturiert abzulegen.&nbsp; Alle Beitr&auml;ge in der Sammlung können kollaborativ getagged, sowie auf- und abgewertet werden.</p>
                    <p>Beim Aufruf der Anwendung werden alle Beitr&auml;ge in einer Zeitleiste angezeigt. Diese kannst Du dann einfach nach allen verfügbaren Tags <em>filtern</em>. Außerdem kannst Du die Ergebnisliste<em>&nbsp;</em>jderzeit auch&nbsp;nach <em>Bewertung</em> sortieren.</p>

                <h2>Nutzungshinweise</h2>
                    <ol>
                        <li>Falls Du einen pers&ouml;nlichen Account m&ouml;chtest bieten schick uns bitte eine Mail an team@eduzen.tu-berlin.de</li>
                        <li>Alle Teilnehmenden k&ouml;nnen Inhalte erstellen und jeden, insbesondere auch Deinen Inhalt bearbeiten, das hei&szlig;t wir alle sind mitverantwortlich f&uuml;r die Verf&auml;gbarkeit und Qualit&auml;t der Beitr&auml;ge.</li>
                        <li>wir bitten euch beim einstellen von Beiträgen das Urheberrecht anderer unbedingt zu respektieren, das heißt insbesondere die Quelle zu nennen, andernfalls sehen wir uns gezwungen auch gute Beitr&amul;ge wieder zu entfernen</li>
                    </ol>

                <h2>Tagging</h2>
                    <p>Tagging hilft allen Teilnehmenden Beiträge zu gruppieren und wiederzufinden.</p>
                    <p>Eine gute Vorgehensweise beim taggen von Beitr&auml;gen ist, Begriffe zu benutzen die euch als erstes in den Sinn kommen.</p>
                    <p>Praktisch ist, vor allem beim gemeinschaftlichen taggen, sich irgendwann auf bestimmte Tags mit anderen zu einigen.</p>

                <h2>Netiquette</h2>
                    <p>Wie in anderen gemeinschaftlichen Projekten gelten auch hier die Regeln des freundlichen Miteinanders und des Respekts gegenüber Beiträgen von anderen. Man nennt dies <a href="http://de.wikipedia.org/wiki/Wikipedia:Wikiquette">Netiquette</a>.</p>

                <h2>Macht mit bei der Weiterentwicklung</h2>
                    <p>Nicht nur eure Beiträge machen die Anwendung gut, sondern auch eure aktive Teilhabe am Entwicklungsprozess. Am unkompliziertesten geht das indem Du einfach direkt Beitrage in der Webanwendung unter den Tags "feedback" , "bug" und "wish" postest.</p>
                    <p>F&uuml;r spezifisches Feedback zur Webanwendung kannst du auch immer unser aktuelles <a href="http://research.eduzen.tu-berlin.de/survey/index.php/414826?lang=de-informal">Umfrageformular</a> nutzen.</p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                <h2>Impressum</h2>

            </div>

        </div>

        <noscript><p>
            <img src="http://research.eduzen.tu-berlin.de/analytics/piwik.php?idsite=2" style="border:0" alt="" />
        </p></noscript>


    </body>

</html>