<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title th:text="${resourceName}">Note: Info - (Prototype 2.0-SNAPSHOT) </title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>

        <link rel="stylesheet" href="/org.deepamehta.eduzen-tagging-notes/style/style.css"/>
        <link rel="stylesheet" href="/org.deepamehta.eduzen-tagging-notes/script/vendor/ckeditor/contents.css"/>
        <link rel="stylesheet" href="/de.deepamehta.webclient/script/vendor/jquery/css/custom-theme/jquery-ui-1.8.21.custom.css"/>

        <script type="text/javascript" src="/de.tu-berlin.eduzen.mathjax-renderer/script/vendor/mathjax/MathJax.js?config=default&delayStartupUntil;=configured"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/vendor/jquery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/vendor/jquery/jquery-ui-1.8.21.custom.min.js"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/util/rest_client.js"></script>
        <script type="text/javascript" src="/de.deepamehta.webclient/script/util/gui_toolkit.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/vendor/eduzen_dictionary.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/vendor/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/model/AppModel.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/emc.js"></script>
        <script type="text/javascript" src="/org.deepamehta.eduzen-tagging-notes/script/trt.js"></script>
        <!-- script type="text/javascript" src="/de.deepamehta.accesscontrol/script/vendor/sha256.js"></script-->
        <!--<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>-->
        <!-- script type="text/javascript" src="http://modernizr.com/downloads/modernizr-latest.js"></script-->

        <!-- Note: We are proudly build on free and open source tools, namely jQuery, Piwik and DeepaMehta 4. -->

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://research.eduzen.tu-berlin.de/analytics/" : "http://research.eduzen.tu-berlin.de/analytics/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function() {
                initializePageView()
            })
            /*]]>*/
        </script>

    </head>

    <body class="eduzen notes note">
        <div class="header">

            <h3 class="hello">
                <!-- Share your educational resource*-->
            </h3>

            <div id="message-top"></div>
            <a href="/notes" class="back-to-front">zur&uuml;ck zur Timeline</a>

            <div class="content-area">
                <!-- i class="label">Educational resource</i-->
                <b class="label">Erstellt am</b>
                <b class="header-title"></b>
                <br/>
                <br/>
                <b class="label">Inhalt:</b>
                <div id="resource_input" contenteditable="false"></div> <!--  -->
                <input type="button" value="Inhalt &auml;ndern" class="submit btn"></input>
                <br/>
                <br/>
                <b class="label">Tags:</b>
                <div id="tags"></div>
                <!--
                <b class="label">Weitere Tags hinzuf&uuml;gen:</b>
                <input type="text" placeholder="Name des Tags" size="50" class="tag"></input>
                -->
            </div>
            <br/><br/>
            <!-- p>
                <input type="button" value="Eintrag l&ouml;schen" class="delete btn"
                    onclick="javascript:doDeleteResource()"></input>
                Achtung: Diese Aktion kann nicht r&uuml;ckgangig gemacht werden.
            </p-->
        </div>

        <!-- div class="footer">
            <h3>Hint &amp; Imprint</h3>
            Please always share a reference to the <b>author</b> and <b>license infos</b> in your submission.
            Be polite and care about everything. <br/> This<a href="http://eduzen.tu-berlin.de/content-platform">
            platform</a> is an experiment (please see our <a href="http://eduzen.tu-berlin.de/prototype-tos"
               title="Terms of usage for this experimental service">ToS</a>) seeded by the <a href="http://eduzen.tu-berlin.de"
               title="Find our projects website">educationZEN project</a>, please take
            <a href="http://research.eduzen.tu-berlin.de/survey/index.php/survey/index/sid/414826/newtest/Y/lang/de-informal"
               title="Link zur Umfrage">part in our survey</a> and help us to improve this service. You can also send
            us your feedback in a simple <a href="mailto:team@eduzen.tu-berlin.de">mail</a>.
        </div-->

        <noscript><p>
            <img src="http://research.eduzen.tu-berlin.de/analytics/piwik.php?idsite=2" style="border:0" alt="" />
        </p></noscript>


    </body>

</html>